// Colours
$primary: #3f82b0 !default;

$text-light: #f2f2f2 !default;
$text-dark: #0d0d0d !default;

$background-light: #f2f2f2 !default;
$background-mid: #333333 !default;
$background-dark: #0d0d0d !default;

// Fonts
$silverowl-body-font: Helvetica, Arial, sans-serif !default;
$silverowl-title-font: Helvetica, Arial, sans-serif !default;

// Sizes
$gap-basis: 1rem !default;
